
<html lang="en"><head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="../static/css/styleM.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/p_style.css">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 


    <link rel="stylesheet" href="../static/css/p_style.css"> -->
    <style>

    div.sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 60;
      background-color: white;
      z-index:100
      opacity: 0.5;
      padding: 50px;
      font-size: 20px;
    }

    .fixed {
        background-color: white;
        position:fixed;
        opacity: 0.8;
        top:60;
        width:100%;
        z-index:100;
    }

    </style>

</head>


<body>


<div class="fixed">
    <div class="col-sm-6 col-sm-offset-3" style="justify-content: center; display: flex;">
        <a href="/OUTDOOR#secSunpath" style="padding: 20"> Solar
            <img src="static/img/Solar.png" alt="Solar" width="40" height=""> </a>
        <a href="OUTDOOR#secTemp"  style="padding: 20"> Temp
            <img src="static/img/Temp.png" alt="Temp" width="40" height=""></a>
        <a href="/OUTDOOR#secWindRose" style="padding: 20"> Wind <img src="static/img/Wind.png" alt="Wind" width="40" height=""> </a>
    </div>
</div>


</body>
</html>

