{% extends "baseM.html" %}
{% block main %}

<link rel="stylesheet" href="../static/css/p_style.css">
<style>
    .collapsible {
      background-color: white;
      /*color: #111;*/
      cursor: pointer;
      padding: 5px;
      width: 100%;
      height:5%;
      border: none;
      text-align: center;
      outline: none;
      font-size: 20px;
    }

    .active, .collapsible:hover {
      /*background-color: #F8F8F8;*/
      color: gray;
    }

    .collapsible:after {
      content: '\002B';
      color: orangered;
      font-weight: bold;
      float: right;
      margin-right: 1.5%;
      margin-top: -13.5%;
    }

    .active:after {
      content: "\2212";
      color: black;
    }

    .content {
      padding: 0 10px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      background-color: white;
    }

    /* Tooltip */
    .ttip + .tooltip > .tooltip-inner {
    background-color: grey; 
    /*color: #FFFFFF; 
    border: 1px solid green; 
    padding: 15px;
    font-size: 20px;*/
    }

    .ttip:hover {
      color: black;
    }




</style>

<section class="module-small" id = "parameters">

<!-- Divider -->
<hr class="divider-w mt-60 mb-60">
<p></p>
<!-- Divider -->

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <!-- <button class="collapsible"> -->
            
            <!-- <h2 class="module-title font-alt">Climabox Settings</h2> -->
            <!-- <button class="collapsible"> <h3 class="module-title font-alt">Climabox Settings</h3> </button> --> <!-- ***Turn on to reverse collapsible -->
            <!-- <div class="content" style="width:500px" > --> <!-- ***Turn on to reverse collapsible -->

            <form action="{{ url_for('Climabox') }}"  method='post' id='climaboxSettings'>
                <h2 class="module-title font-alt ttip" href="#" data-toggle="tooltip" data-placement="left" title="ClimaPlus includes a simple one zone thermal model to estimate the effect of key design parameters on indoor temperature and energy use for a given site. The model considers solar radiation onto different facades, one dimensional heat flow through walls, roof and windows, internal gains from solar radiation, equipment and occupants as well as thermal mass effects using a RC-based lag time constant.">Climabox Settings</h2>

                <!-- dynamic box -->
                <div class="separator"></div>
<div class="row" >

    <div class="column arrow">
          <img src="/static/img/NorthArrow.png" class="compass">

    </div>

    <div class="column scene" id="element">
      <div class="bigbox">
            <div class="box__face box__face--front"><div class="wsouth"><div class="square"></div></div></div>
            <div class="box__face box__face--back"><div class="wnorth"><div class="square"></div></div></div>
            <div class="box__face box__face--right"><div class="weast"><div class="square"></div></div></div>
            <div class="box__face box__face--left"><div class="wwest"><div class="square"></div></div></div>
            <div class="box__face box__face--top"></div>
            <div class="box__face box__face--bottom"></div>

      </div>
    </div>

</div>


<div class="botseparator"></div>


                <a class="ttip" href="#" data-toggle="tooltip" data-placement="left" title="These parameters define the inner dimensions of the one zone building model in meter. The building is oriented along the cardinal directions. Please note that the shown geometry is only shown for the default geometry and does not change. ">Climabox dimensions</a>
                <div class="container">
                <div class="row">
                    <div style="padding:5px 0; width:30%;" title="1M < Width < 30M" data-toggle="tooltip"><input class='cbform' style="width: 140px;" id='cb_w' type="text" name="climaWidth"  placeholder="W (10 m)"> W (m) </div>
                    <div style="padding:5px 0;width:30%;" title="1M < Length < 30M" data-toggle="tooltip"><input class='cbform' style="width: 140px;" id='cb_l' type="text" name="climaLength" placeholder="L (10 m)"> L (m) </div>
                    <div style="padding:5px 0;width:30%;" title="1M < Height < 10M" data-toggle="tooltip"><input class='cbform' style="width: 140px;" id='cb_h' type="text" name="climaHeight"  placeholder="H (3 m)"> H (m) </div>
                </div></div>
        
                <div  style="padding:20px 0;">
                    <a class="ttip" href="#" data-toggle="tooltip" data-placement="left" title="The window-to-wall ratio for each façade corresponds to the percentage of glazing area vis-à-vis the overall façade area adjacent to the space.">Window to wall ratio</a>
                    <div style="padding:5px 0;">
                    <select name="wwrN" id="wnorth" style="width: 140px;" >
                        <option value=0 >Adiabatic</option>
                        <option value=0.001 >No window</option>
                        <option value=0.1>10%</option>
                        <option value=0.2>20%</option>
                        <option value=0.3 selected>30%</option>
                        <option value=0.4>40%</option>
                        <option value=0.5>50%</option>
                        <option value=0.6>60%</option>
                        <option value=0.7>70%</option>
                        <option value=0.8>80%</option>
                    </select> <font>North</font> <br>
                    </div>
                    <div style="padding:5px 0;">
                    <select name="wwrS" id="wsouth" style="width: 140px;">
                        <option value=0>Adiabatic</option>
                        <option value=0.001>No window</option>
                        <option value=0.1>10%</option>
                        <option value=0.2>20%</option>
                        <option value=0.3 selected>30%</option>
                        <option value=0.4>40%</option>
                        <option value=0.5>50%</option>
                        <option value=0.6>60%</option>
                        <option value=0.7>70%</option>
                        <option value=0.8>80%</option>
                    </select> <font>South</font> <br>
                    </div>
                    <div style="padding:5px 0;">
                    <select name="wwrW" id="wwest" style="width: 140px;">
                        <option value=0>Adiabatic</option>
                        <option value=0.001>No window</option>
                        <option value=0.1>10%</option>
                        <option value=0.2>20%</option>
                        <option value=0.3 selected>30%</option>
                        <option value=0.4>40%</option>
                        <option value=0.5>50%</option>
                        <option value=0.6>60%</option>
                        <option value=0.7>70%</option>
                        <option value=0.8>80%</option>
                    </select> <font>West</font> <br>
                    </div>
                    <div style="padding:5px 0;">
                    <select name="wwrE" id="weast" style="width: 140px;">
                        <option value=0>Adiabatic</option>
                        <option value=0.001>No window</option>
                        <option value=0.1>10%</option>
                        <option value=0.2>20%</option>
                        <option value=0.3 selected>30%</option>
                        <option value=0.4>40%</option>
                        <option value=0.5>50%</option>
                        <option value=0.6>60%</option>
                        <option value=0.7>70%</option>
                        <option value=0.8>80%</option>
                    </select> <font>East</font>
                    </div>
                </div>
                
                <div  style="padding:5px 0;">
                    <a class="ttip hover" href="#" data-toggle="tooltip" data-placement="left" title="The user can change the roof, wall and glazing constructions using predefine construction assemblies. The U-value of the different choices are provided in SI units. It is assumed that the floor of the building is adiabatic, i.e. there is no heat flow between the building and the ground.">Construction</a>
                    <div style="padding:5px 0;">
                    <select name="Rroof" id="rroof" style="width: 140px;">
                        <!-- the values are the total U-factors -->
                        <option value=0>Adiabatic</option>
                        <option value=4.5>Low (U-4.5)</option>
                        <option value=2.37 selected>Regular (U-2.37)</option>
                        <option value=0.33>Medium (U-0.33)</option>
                        <option value=0.11>Best (U-0.11)</option>
                    </select> <font>Roof</font> <br>
                    </div>
                    <div style="padding:5px 0;">
                    <select name="Rwall" id="rwall" style="width: 140px;">
                        <!-- the values are the total U-factors -->
                        <option value=3.5>Low (U-3.5)</option>
                        <option value=1.66 selected>Regular (U-1.66)</option>
                        <option value=0.34>Medium (U-0.34)</option>
                        <option value=0.13>Best (U-0.13)</option>
                    </select> <font>Wall</font> <br>
                    </div>
                    <div style="padding:5px 0;">
                    <select name="Rfloor" id="rfloor" style="width: 140px;">
                        <!-- the values are the total U-factors -->
                        <option value=0>Adiabatic</option>
                        <option value=0.4>Slab on grade</option>
                    </select> <font>Floor</font> <br>
                    </div>
                    <div style="padding:5px 0;">
                    <select name="Uglazing" id="glaz" style="width: 140px;">
                        <option value="7.1|0.82">Single (U-7.1, SHGC 0.82)</option> <!-- source: ASHRAE Energy Standard -->
                        <option value="3.4|0.59" selected>Double (U-3.4, SHGC 0.59)</option> <!-- source: ASHRAE Energy Standard -->
                        <option value="1.507|0.649">Double Low-E (U-1.507, SHGC 0.649)</option> <!-- source: Efficientwindows.org -->
                        <option value="1.493|0.373">Double Low-E Low-Solar-Gain (U-1.493, SHGC 0.373)</option> <!-- source: Efficientwindows.org -->
                        <!-- <option value="0.26|0.55">Double Low-E (U-0.26, SHGC 0.55)</option> -->
                        <!-- <option value="0.24|0.26">Double Low-E Low-Solar-Gain (U-0.24, SHGC 0.26)</option> -->
                    </select> <font>Glazing</font> <br>
                    </div>
                <div  style="padding:20px 0;">
                    <a class="ttip hover" href="#" data-toggle="tooltip" data-placement="left" title="The use can specify the amount of active thermal mass within the space. The exposed thermal mass corresponds to a 40mm thick concrete layer with a volumetric heat capacity of 2016kJ/m3 K.">Exposed thermal mass</a>
                    <div style="padding:5px 0;">
                    <select name="tm" id="tmass" style="width: 140px;">
                        <option value=0.5 selected>Low (half floor)</option>
                        <option value=1>Medium (floor)</option>
                        <option value=2>High (floor and ceiling)</option>
                        <!-- <option value="custom">Custom</option> -->
                    </select>
                </div>    
                <div  style="padding:5px 0;">
                    <a class="ttip hover" href="#" data-toggle="tooltip" data-placement="left" title="The infiltration rate in Air Change per Hour (ACH) corresponds to volume of fresh air that enters the space through accidentals leaks in the building envelope.">Infiltration</a>
                    <div style="padding:5px 0;">
                    <select name="infiltration" id="infil" style="width: 140px;">
                        <option value=0.6 selected>Regular (0.6 ach)</option>
                        <option value=0.3>Medium (0.3 ach)</option>
                        <option value=0.1>Tight (0.1 ach)</option>
                        <!-- <option value=0>Tight (0 ach)</option> -->
                       <!--  <option value=10>Fan I (10 ach)</option>
                        <option value=20>Fan II (20 ach)</option> -->
                        <!-- <option value="custom">Custom</option> -->
                    </select>
                </div>
               
                <div  style="padding:20px 0;">
                    <a class="ttip hover" href="#" data-toggle="tooltip" data-placement="left" title="These two input parameters set the peak gains from equipment and electric lighting for the space. The time of day schedules for a typical weekday are shown below. ">Peak internal gain</a>
                    <div style="padding:5px 0;">
                    <select name="LPD" id="lpd" style="width: 140px;" onchange="if(this.options[this.selectedIndex].value=='customOption'){toggleField(this,this.nextSibling); this.selectedIndex='0';}">
                        <option value=10>Regular(10 W/m2)</option>
                        <option value=8>Medium (8 W/m2)</option>
                        <option value=4>Best (4 W/m2)</option>
                        <option value="customOption">Custom</option>
                    </select><input name="LPD" style="display:none; width: 140px; height: 12px; border: 0.5px solid;" disabled="disabled" onblur="if(this.value==''){toggleField(this,this.previousSibling);}"> <font> Lighting (LPD)</font> <br>
                    </div>
                    <div style="padding:5px 0;">
                    <select name="EPD" id="epd" style="width: 140px;" onchange="if(this.options[this.selectedIndex].value=='customOption'){toggleField(this,this.nextSibling); this.selectedIndex='0';}">
                        <option value=10>Regular (10 W/m2)</option>
                        <option value=8>Medium (8 W/m2)</option>
                        <option value=6>Best (6 W/m2)</option>
                        <option value="customOption">Custom</option>
                    </select><input name="EPD" style="display:none; width: 140px; height: 12px; border: 0.5px solid;" disabled="disabled" onblur="if(this.value==''){toggleField(this,this.previousSibling);}"> <font> Equipment (EPD)</font> <br>
                    </div>
                </div>
                <div  style="padding:20px 0;">
                    <a class="ttip hover" href="#" data-toggle="tooltip" data-placement="left" title="The entry field specifies whether natural ventilation is supported or not. In the latter case, it is assumed that the windows are sealed (no operable). If the windows are operable, ClimaPlus uses the empirical formulas to predict the air exchange rate when the windows are opened. In the case of fan assisted outdoor air supply, it is assumed that an electric fan supplies outside air to the space at a rate of up to 5 ACH.  For both options, the windows are opened if all of the following conditions are met: T_outside is between 18°C and 26°C
                    T_inside > 20°C">Natural ventilation</a>
                    <div style="padding:5px 0;">
                    <select name="nventilation" id="nv" style="width: 140px;">
                        <option value=0 selected>Fixed windows (no natural ventilation)</option>
                        <option value=10>Operable windows (wind and buoyancy)</option>
                        <!-- <option value=5>Fan assisted outdoor air supply</option> -->
                        <!-- <option value=20>Fan II (10 ach)</option> -->
                    </select> </div>
                </div>

                <div style="padding:5px 0;">
                    <a class="ttip hover" href="#" data-toggle="tooltip" data-placement="left" title="In order to convert heating and cooling loads into energy use, ClimaPlus support a series of systems using constant coefficients of performance. Gas-fired boiler heating – COP 0.85, electric baseboard heating – COP 1, direct expansion cooling – COP 3, ground source heat pump  – COP 3.93">Conditioning system</a>
                    
                    <div style="padding:5px 0;">
                    <select name="systemH" id="sysH" style="width: 140px;" onchange="if(this.options[this.selectedIndex].value=='customOption'){toggleField(this,this.nextSibling); this.selectedIndex='0';}"> <!-- source:Simulation game -->
                        <option value="0.85" selected>Gas-fired boiler heating</option>
                        <option value="1">Electric baseboard heating</option>
                        <option value="3.93">Ground source heat pump heating</option>
                        <option value="0">No heating</option>
                        <option value="customOption">Custom</option>
                    </select><input name="systemH" style="display:none; width: 140px; height: 12px; border: 0.5px solid;" disabled="disabled" onblur="if(this.value==''){toggleField(this,this.previousSibling);}"> <font> Heating</font> <br>
                    </div>

                    <div style="padding:5px 0;">
                    <select name="systemC" id="sysC" style="width: 140px;" onchange="if(this.options[this.selectedIndex].value=='customOption'){toggleField(this,this.nextSibling); this.selectedIndex='0';}"> <!-- source:Simulation game -->
                        <option value="3" selected>Direct expansion cooling</option> 
                        <option value="3.93">Ground source heat pump cooling</option>
                        <option value="0">No cooling</option>
                        <option value="customOption">Custom</option>
                    </select><input name="systemC" style="display:none; width: 140px; height: 12px; border: 0.5px solid;" disabled="disabled" onblur="if(this.value==''){toggleField(this,this.previousSibling);}"> <font> Cooling</font> <br>
                    </div>

                    <!-- <div style="padding:5px 0;">
                    <select name="systemH" id="sysH" style="width: 140px;" onchange="if(this.options[this.selectedIndex].value=='customOption'){toggleField(this,this.nextSibling); this.selectedIndex='0';}"> 
                        <option value="0">No heating</option>
                        <option value="1">Electric baseboard heating</option>
                        <option value="0.85" selected>Gas-fired boiler heating</option>
                        <option value="3.93">Ground source heat pump heating</option>
                        <option value="customOption">Custom</option>
                    </select> <input name="systemH" style="display:none; width: 140px; height: 12px; border: 0.5px solid;" disabled="disabled" onblur="if(this.value==''){toggleField(this,this.previousSibling);}"> <font>Heating</font> <br>
                    </div> -->
                    <!-- <div style="padding:5px 0;">
                    <select name="systemC" id="sysC" style="width: 140px;" onchange="if(this.options[this.selectedIndex].value=='customOption'){toggleField(this,this.nextSibling); this.selectedIndex='0';}"> 
                        <option value="0">No cooling</option>
                        <option value="3" selected>Direct expansion cooling</option> 
                        <option value="3.93">Ground source heat pump cooling</option>
                        <option value="customOption">Custom</option>
                    </select> <input name="systemC" style="display:none; width: 140px; height: 12px; border: 0.5px solid;" disabled="disabled" onblur="if(this.value==''){toggleField(this,this.previousSibling);}"><font>Cooling</font> <br>
                    </div>
                </div> -->

                <div style="padding:20px 0;">
                    <a class="ttip hover" href="#" data-toggle="tooltip" data-placement="left" title="Carbon emissions from gas and electricity used for heating, cooling, lighting and equipment are calculated using the emission factors given in kgCO2e/kWh. Representative emission factors for some cities are given in the dropdown. And the ‘custom’ entry field allows to enter new values. ">Emissions</a>
                    <div style="padding:5px 0;">
                    <select name="CO2Elec" id="co2elec" style="width: 140px;" onchange="if(this.options[this.selectedIndex].value=='customOption'){toggleField(this,this.nextSibling); this.selectedIndex='0';}">
                        <option value=0.275 selected>Boston(0.275 kgCO2e/kWh)</option>
                        <option value=0.67>Houston (0.67 kgCO2e/kWh)</option>
                        <option value=0.94>Mumbai (0.94 kgCO2e/kWh)</option>
                        <option value="customOption">Custom</option>
                    </select><input name="CO2Elec" style="display:none; width: 140px; height: 12px; border: 0.5px solid;" disabled="disabled" onblur="if(this.value==''){toggleField(this,this.previousSibling);}"> <font> Electricity</font> <br>
                    </div>

                    <div style="padding:5px 0;">
                    <select name="CO2Gas" id="co2gas" style="width: 140px;" onchange="if(this.options[this.selectedIndex].value=='customOption'){toggleField(this,this.nextSibling); this.selectedIndex='0';}">
                        <option value=0.18001 selected>Boston(0.18 kgCO2e/kWh)</option>
                        <option value=0.180011>Houston (0.18 kgCO2e/kWh)</option>
                        <option value=0.1800111>Mumbai (0.18 kgCO2e/kWh)</option>
                        <option value="customOption">Custom</option>
                    </select><input name="CO2Gas" style="display:none; width: 140px; height: 12px; border: 0.5px solid;" disabled="disabled" onblur="if(this.value==''){toggleField(this,this.previousSibling);}"><font> Gas</font> <br>
                    </div>
                </div>
                <div style="padding:5px 0;">
                    <a class="ttip hover" href="#" data-toggle="tooltip" data-placement="left" title="Operation energy costs for gas and electricity are calculated using the cost of energy per kWh selected from the dropdown. Custom cost factors can be specified using the ‘custom’ option. ">Cost</a>
                    <div style="padding:5px 0;">
                    <select name="CostElec" id="costelec" style="width: 140px;" onchange="if(this.options[this.selectedIndex].value=='customOption'){toggleField(this,this.nextSibling); this.selectedIndex='0';}">
                        <option value=0.225 selected>Boston(0.225 US$/kWh)</option> 
                        <option value=0.115>Houston (0.115 US$/kWh)</option>
                        <option value=0.09>Mumbai (0.09 US$/kWh)</option>
                        <option value="customOption">Custom</option>
                    </select><input name="CostElec" style="display:none; width: 140px; height: 12px; border: 0.5px solid;" disabled="disabled" onblur="if(this.value==''){toggleField(this,this.previousSibling);}"><font> Electricity</font> <br>
                    </div>
                    <div style="padding:5px 0;">
                    <select name="CostGas" id="costgas" style="width: 140px;" onchange="if(this.options[this.selectedIndex].value=='customOption'){toggleField(this,this.nextSibling); this.selectedIndex='0';}">
                        <option value=0.043 selected>Boston(0.043 US$/kWh)</option>
                        <option value=0.033>Houston (0.033 US$/kWh)</option>
                        <option value=0.056>Mumbai (0.056 US$/kWh)</option>
                        <option value="customOption">Custom</option>
                    </select><input name="CostGas" style="display:none; width: 140px; height: 12px; border: 0.5px solid;" disabled="disabled" onblur="if(this.value==''){toggleField(this,this.previousSibling);}"><font> Gas</font> <br>
                    </div>
                </div>

                <!-- <div style="padding:5px 0;">
                    <font>Conditioning system</font><br>
                    <input type="check" name="system" value="nv" id='nv' checked/> Operable windows <br>
                    <input type="checkbox" name="system" value="h" id='h'/> Heating furnace (COP 0.85), <a id = "sp_L"> 18 </a> deg C <br>
                    <input type="checkbox" name="system" value="c" id='c'/> AC for Cooling (COP 3), <a id = "sp_U"> 26 </a> deg C
                </div> -->

                <div style="padding:20px 0;"><input type="submit" value="Go" name="submit" onclick="getInputValue()" id="climaboxSettingsForm"/></div>  <!-- onclick="history.go(-1);"  -->
            </form>
            <!-- </div> -->
        
        </div>
    </div>
</div>
</section>

<section class="module-small" id = "indoorTempGraph">
<!-- Divider -->
<hr class="divider-w mt-60 mb-60">
<p></p>
<!-- Divider -->

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
	       
            <h2 class="module-title font-alt">Indoor temperature</h2>
            <div style="text-align:center;" >
                <font>Discomfort hours during occupancy <br> due to high temperature - <a id = "disHrhot"> 0 </a> hrs </font><br>
                <font>due to low temperature - <a id = "disHrcold"> 0 </a> hrs </font>
            </div>

            <p></p>
            <div class="module-subtitle font-serif">
                <ul id="menu" class="menu no-bullet" >
                    <a data-page="hourly" class="dl" href="#"> HOURLY </a> <button class="btn" onclick="save_as_svg('svgindoortemp','Indoor temperature hourly.svg')"><i class="fa fa-download"></i></button>
                    <a data-page="frequency" class="dl" href="#"> FREQUENCY </a><button class="btn" onclick="save_as_svg('svgclimafrequency','Indoor temperature frequency.svg')"><i class="fa fa-download"></i></button> 
                </ul>
            </div>
        </div>
    </div>
</div>
</section>

<div id="pages">
    <div id="hourly" class="page" data-page="hourly">
        <div class="row">
            <div class="columns large-6">
                <div  style="text-align:center;" id="svgindoortemp"> </div>
            </div>
        </div>
    </div>
    <div id="frequency" class="page hide" data-page="frequency">
        <div class="row">
            <div class="columns large-6">
                <div  style="text-align:center;" id="svgclimafrequency"> </div>
            </div>
        </div>
    </div>
</div>


<section class="module-small" id = "energyGraph">

<!-- Divider -->
<hr class="divider-w mt-60 mb-60">
<p></p>
<!-- Divider -->

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <div class="row" style="display:flex; flex-flow:row wrap;">
                <div class="col-sm-4" x="20"; style="text-align:center;">
                    <h4 class="module-title-small font-alt">Energy<br><button class="btn" onclick="save_as_svg('svgenergy','Energy use intensity.svg')"><i class="fa fa-download"></i></button></h4>
                    <div id="svgenergy"> </div>
                        <div style="padding:5px 0;">
                        <select name="EGS" id="egs" style="width: 35px; margin-bottom: 5px; height: 20px;" onchange="if(this.options[this.selectedIndex].value=='customOption'){toggleField(this,this.nextSibling); this.selectedIndex='0';}">
                            <option value=2 selected="selected">B</option>
                            <option value=3>S1</option>
                            <option value=4>S2</option>
                            <option value=5>S3</option>
                        </select>
                           <input class='energyName' style="width: 70px;" id='energyN' type="text" name="SavedEName"  placeholder="Name">
                            <br><button type="button" onclick="dataSave()" class="energySave">Save Graph</button>
                        </div>
                    </div>
                <div class="col-sm-4" x="50"; style="text-align:center;">
                    <h2 class="module-title-small font-alt" style="text-align:center;">CO2e<br><button class="btn" onclick="save_as_svg('svgco2','Emisssion.svg')"><i class="fa fa-download"></i></button></h2>
                    <div id="svgco2"> </div> </div>
                <div class="col-sm-4" x="400"; style="text-align:center;">
                    <h2 class="module-title-small font-alt">Cost<br><button class="btn" onclick="save_as_svg('svgcost','Cost.svg')"><i class="fa fa-download"></i></button></h2>
                    <div style="text-align:center;" id="svgcost"> </div></div>
            </div>
            <div style="padding:15px 0;">
            <div style="text-align:center;">
                <font><strong>Energy use intensity in kWh/m2.yr </strong></font><br>
                <font style="font-size: 12px; font-color: grey">
                Total:<a id = "eui"> 0 </a>
                , Equipment - <a id = "equip"> 0 </a>
                , Lighting - <a id = "light"> 0 </a>
                , Heating - <a id = "qheat"> 0 </a>
                , Cooling - <a id = "qcool"> 0 </a> </font><br>

                <font><strong>Operational cost in $/m2.yr </strong></font><br>
                <font style="font-size: 12px; font-color: grey">
                Total:<a id = "cost_t"> 0 </a>
                , Electricity - <a id = "cost_e"> 0 </a>
                , Gas - <a id = "cost_g"> 0 </a></font><br>

                <font><strong>Emissions in kgCO2e/m2.yr </strong></font><br>
                <font style="font-size: 12px; font-color: grey">
                Total:<a id = "co2e_t"> 0 </a>
                , Electricity - <a id = "co2e_e"> 0 </a>
                , Gas - <a id = "co2e_g"> 0 </a></font>
            </div>

    </div>
</div>

</section >


<section class="module-small" id = "SavedEnergyGraphs">

<!-- Divider -->
<hr class="divider-w mt-60 mb-60">
<p></p>
<!-- Divider -->

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <div class="row" style="display:flex; flex-flow:row wrap;">
                <div class="col-sm-4" x="20"; style="text-align:center;width:17%">
                    <h4 class="module-title-small font-alt" style="white-space:pre-wrap;" id="S2"></h4>
                    <button type="button" onclick="deleteGraph(2)" class="deleteGraph" id="but2">Delete</button>
                    <div id="svgenergy2" style="width: 50%; margin: auto;"> </div> </div>
                <div class="col-sm-4" x="20"; style="text-align:center;width:17%">
                    <h4 class="module-title-small font-alt" id="S3" style="white-space:pre-wrap;"></h4>
                    <button type="button" onclick="deleteGraph(3)" class="deleteGraph" id="but3">Delete</button>
                    <div id="svgenergy3" style="width: 50%; margin: auto;"> </div> </div>
                <div class="col-sm-4" x="20"; style="text-align:center;width:17%">
                    <h4 class="module-title-small font-alt" id="S4" style="white-space:pre-wrap;"></h4>
                    <button type="button" onclick="deleteGraph(4)" class="deleteGraph" id="but4">Delete</button>
                    <div id="svgenergy4" style="width: 50%; margin: auto;"> </div> </div>
                <div class="col-sm-4" x="20"; style="text-align:center;width:17%">
                    <h4 class="module-title-small font-alt" id="S5" style="white-space:pre-wrap;"></h4>
                    <button type="button" onclick="deleteGraph(5)" class="deleteGraph" id="but5">Delete</button>
                    <div id="svgenergy5" style="width: 50%; margin: auto;"> </div> </div>
            </div>

    </div>
</div>

</section >


<!-- Divider -->
<hr class="divider-w mt-60 mb-60">
<p></p>
<!-- Divider -->

{% endblock %}
{% block scripts %}

<script type="text/javascript">



    var Tin = {{dataT["Tin"]}}
    var Tin_freq = {{dataT["Tin_freq"]}}
    var Tout = {{dataT["Tout"]}}
    var Qh_T = Math.abs({{dataT["Qh_T"]}})
    var Qc_T = Math.abs({{dataT["Qc_T"]}})
    var Ql_T = Math.abs({{dataT["Ql_T"]}})
    var Qe_T = Math.abs({{dataT["Qe_T"]}})
    var EUI = {{dataT["EUI"]}}
    var Heating = {{dataT["Heating"]}}
    var Cooling = {{dataT["Cooling"]}}
    var NV = {{dataT["NV"]}}
    var DisCold = {{dataT["DisCold"]}}
    var DisHot = {{dataT["DisHot"]}}
    var CO2Gas = {{dataT["CO2_Gas"]}}
    var CO2Elec = {{dataT["CO2_Elec"]}}
    var CostGas = {{dataT["Cost_Gas"]}}
    var CostElec = {{dataT["Cost_Elec"]}}
    var CO2_Tot = (CO2Gas+CO2Elec).toFixed(1)
    var Cost_Tot = (CostGas+CostElec).toFixed(1)
    var W = {{climabox["W"]}}
    var L = {{climabox["L"]}}
    var H = {{climabox["H"]}}
    var SPL = {{climabox["sp_lower"]}}
    var SPU = {{climabox["sp_upper"]}}
    var CITY = "{{session["city"]}}"

    cityL = CITY.split(' (')
	cityN = cityL[0].split(" ").join("")
<!--	console.log(cityN)-->

    console.log({"Heating":Qh_T, "Cooling":Qc_T, "Equipment":Qe_T, "Lighting":Ql_T,"total":EUI})
    function deleteGraph(num) {
        delete_cookie( cityN + num )
        var svgid = "#svgenergy" + num;
        var textid = "S"+ num;
        var element = document.getElementById(textid);
        element.innerHTML = "" ;

        Graphs()


    }

    function dataSave() {
        var e = document.getElementById("egs");
        var value = e.options[e.selectedIndex].value;
        var text = e.options[e.selectedIndex].text;

        var svgid = "#svgenergy" + value;
        var textid = "S"+value;
        var element = document.getElementById(textid);
        txtname = document.getElementById('energyN').value;
        if (txtname.length < 8){
            if (txtname.length == 0){
                txtname = " "
            }
            name = "<span style='text-decoration: underline'>" + text + "</span> \n" + txtname;
            element.innerHTML = name;

            document.getElementById("but"+value).style.visibility= "visible";

            scn = [{"Heating":Qh_T, "Cooling":Qc_T, "Equipment":Qe_T, "Lighting":Ql_T,"total":(Qh_T+Qc_T+Qe_T+ Ql_T) , "name": name}];

            document.cookie = cityN + value + "=" + JSON.stringify(scn[0]);

            Graphs()
        }
    }

    function getCookieValue(a) {
        var b = document.cookie.match('(^|;)\\s*' + a + '\\s*=\\s*([^;]+)');
        return b ? b.pop() : '';
    }
    function delete_cookie( name ) {
      document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }

    $("#energyN").keyup(function(){
        if (document.getElementById('energyN').value.length > 8){
                 document.getElementById("energyN").style.borderColor="red";
                 document.getElementById("energyN").style.backgroundColor="lightpink";
        }
        else{
                 document.getElementById("energyN").style.borderColor="black";
                 document.getElementById("energyN").style.backgroundColor="white";
        }
    });

    var coll = document.getElementsByClassName("collapsible");
    var i;
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        } 
      });
    }

    var climabox = {
        tupper: "{{climabox["sp_upper"]}}",
        tlower: "{{climabox["sp_lower"]}}",
    }

    var ids = ["wnorth","wsouth","wwest","weast","tmass","rroof","rwall","glaz", "infil", "lpd", "epd","nv","sysC","sysH","co2elec","co2gas","costelec","costgas"]
    // localStorage.clear()
    const mySel = document.getElementById(ids[0]);
    mySel.addEventListener("change",function() {localStorage.setItem("selValue",this.value);});
    let val = localStorage.getItem("selValue");
    if (val) mySel.value=val;
    // localStorage.removeItem("selValue");

    const mySel2 = document.getElementById(ids[1]);
    mySel2.addEventListener("change",function() {localStorage.setItem("selValue2",this.value);});
    let val2 = localStorage.getItem("selValue2");
    if (val2) mySel2.value=val2;

    const mySel3 = document.getElementById(ids[2]);
    mySel3.addEventListener("change",function() {localStorage.setItem("selValue3",this.value);});
    let val3 = localStorage.getItem("selValue3");
    if (val3) mySel3.value=val3;

    const mySel4 = document.getElementById(ids[3]);
    mySel4.addEventListener("change",function() {localStorage.setItem("selValue4",this.value);});
    let val4 = localStorage.getItem("selValue4");
    if (val4) mySel4.value=val4;

    const mySel5 = document.getElementById(ids[4]);
    mySel5.addEventListener("change",function() {localStorage.setItem("selValue5",this.value);});
    let val5 = localStorage.getItem("selValue5");
    if (val5) mySel5.value=val5;

    const mySel6 = document.getElementById(ids[5]);
    mySel6.addEventListener("change",function() {localStorage.setItem("selValue6",this.value);});
    let val6 = localStorage.getItem("selValue6");
    if (val6) mySel6.value=val6;

    const mySel7 = document.getElementById(ids[6]);
    mySel7.addEventListener("change",function() {localStorage.setItem("selValue7",this.value);});
    let val7 = localStorage.getItem("selValue7");
    if (val7) mySel7.value=val7;

    const mySel8 = document.getElementById(ids[7]);
    mySel8.addEventListener("change",function() {localStorage.setItem("selValue8",this.value);});
    let val8 = localStorage.getItem("selValue8");
    if (val8) mySel8.value=val8;

    const mySel9 = document.getElementById(ids[8]);
    mySel9.addEventListener("change",function() {localStorage.setItem("selValue9",this.value);});
    let val9 = localStorage.getItem("selValue9");
    if (val9) mySel9.value=val9;

    const mySel10 = document.getElementById(ids[9]);
    mySel10.addEventListener("change",function() {localStorage.setItem("selValue10",this.value);});
    let val10 = localStorage.getItem("selValue10");
    if (val10) mySel10.value=val10;

    const mySel11 = document.getElementById(ids[10]);
    mySel11.addEventListener("change",function() {localStorage.setItem("selValue11",this.value);});
    let val11 = localStorage.getItem("selValue11");
    if (val11) mySel11.value=val11;

    const mySel12 = document.getElementById(ids[11]);
    mySel12.addEventListener("change",function() {localStorage.setItem("selValue12",this.value);});
    let val12 = localStorage.getItem("selValue12");
    if (val12) mySel12.value=val12;

    const mySel13 = document.getElementById(ids[12]);
    mySel13.addEventListener("change",function() {localStorage.setItem("selValue13",this.value);});
    let val13 = localStorage.getItem("selValue13");
    if (val13) mySel13.value=val13;

    const mySel14 = document.getElementById(ids[13]);
    mySel14.addEventListener("change",function() {localStorage.setItem("selValue14",this.value);});
    let val14 = localStorage.getItem("selValue14");
    if (val14) mySel14.value=val14;

    const mySel15 = document.getElementById(ids[14]);
    mySel15.addEventListener("change",function() {localStorage.setItem("selValue15",this.value);});
    let val15 = localStorage.getItem("selValue15");
    if (val15) mySel15.value=val15;

    const mySel16 = document.getElementById(ids[15]);
    mySel16.addEventListener("change",function() {localStorage.setItem("selValue16",this.value);});
    let val16 = localStorage.getItem("selValue16");
    if (val16) mySel16.value=val16;

    const mySel17 = document.getElementById(ids[16]);
    mySel17.addEventListener("change",function() {localStorage.setItem("selValue17",this.value);});
    let val17 = localStorage.getItem("selValue17");
    if (val17) mySel17.value=val17;

    const mySel18 = document.getElementById(ids[17]);
    mySel18.addEventListener("change",function() {localStorage.setItem("selValue18",this.value);});
    let val18 = localStorage.getItem("selValue18");
    if (val18) mySel18.value=val18;


    function toggleField(hideObj,showObj){
        hideObj.disabled=true;     
        hideObj.style.display='none';
        showObj.disabled=false;    
        showObj.style.display='inline';
        showObj.focus();
        }

    $(document).ready(function(){
        $("#climaboxSettingsForm").submit();
        $("#disHrcold").text(DisCold);
        $("#disHrhot").text(DisHot);
        $("#light").text(Ql_T);
        $("#equip").text(Qe_T);
        $("#qheat").text(Qh_T);
        $("#qcool").text(Qc_T);
        $("#eui").text(EUI);
        $("#sp_L").text(SPL);
        $("#sp_U").text(SPU);
        $("#co2e_t").text(CO2_Tot);
        $("#co2e_g").text(CO2Gas);
        $("#co2e_e").text(CO2Elec);
        $("#cost_t").text(Cost_Tot);
        $("#cost_g").text(CostGas);
        $("#cost_e").text(CostElec)

        $('input[name="climaWidth"]').val(W);
        $('input[name="climaLength"]').val(L);
        $('input[name="climaHeight"]').val(H);

        // enabling all tooltips 
        $('[data-toggle="tooltip"]').tooltip();
        //setting box default
        var Width= (Math.log(W+.5))*100;; //Box Width
        var Height= (Math.log(H+.5))*100;; // Box Height
        var Length= (Math.log(L+.5))*100;   //Box length    (Math.log(L+18)-3)*100+200; (Old func)

        minNS=Math.min(Height,Length)
        minEW=Math.min(Height,Width)

        function ResetBox() {
            document.documentElement.style
                .setProperty('--scene', scene.toString()+"px");
                document.documentElement.style
                .setProperty('--height', Height.toString()+"px");
                document.documentElement.style
                .setProperty('--width', Width.toString()+"px");
                document.documentElement.style
                .setProperty('--length', Length.toString()+"px");
                document.documentElement.style
                .setProperty('--halfhieght', ((Height/2).toString())+"px");
                document.documentElement.style
                .setProperty('--halfwidth', ((Width/2).toString())+"px");
                document.documentElement.style
                .setProperty('--halflength', ((Length/2).toString())+"px");
                document.documentElement.style
                .setProperty('--hlratio', (((Width/Length)*(Length/2)).toString())+"px");
                document.documentElement.style
                .setProperty('--hlratiowhole', ((Length-(Width/Length)*(Length/2)).toString())+"px");
                document.documentElement.style
                .setProperty('--wlratio', ((Width*.5).toString())+"px");
                document.documentElement.style
                .setProperty('--wlratiowhole', (Height - Width*.5).toString()+"px");
                document.documentElement.style
                .setProperty('--spacer', (Math.max(Height*1.5,Width*1.5,Length*1.5)).toString()+"px");
                minEW=Math.min(Height,Width)
                minNS=Math.min(Height,Length)
                Windows()

            }
        //Auto updating box
        //Width
        $("#cb_w").keyup(function(){
            // Getting the current value of input
            if( $(this).val() == "" )
            {    Width = (Math.log(1+.5))*100;
                 document.getElementById("cb_w").style.borderColor="red";
                 document.getElementById("cb_w").style.backgroundColor="lightpink";
            }else{
                W=parseInt($(this).val())
                Width = (Math.log(W+.5))*100;
                let area = document.querySelector("#cb_w");
                if ( (W>0) && (W<=30) ){
                //resetting box

                    ResetBox();
                    document.getElementById("cb_w").style.borderColor="black";
                    document.getElementById("cb_w").style.backgroundColor="white";
                    area.setCustomValidity("");
                }
                else{
                    Width = (Math.log(30+.5))*100;
                    document.getElementById("cb_w").style.borderColor="red";
                    document.getElementById("cb_w").style.backgroundColor="lightpink";
                    area.setCustomValidity("Over the boundry!");


                }
            }
        });

        $("#cb_h").keyup(function(){
            // Getting the current value of input
            if( $(this).val() == "" )
            { Height = (Math.log(1+.5))*100;
              document.getElementById("cb_h").style.borderColor="red";
              document.getElementById("cb_h").style.backgroundColor="lightpink";
            }else{
                H=parseInt($(this).val())
                Height = (Math.log(H+.5))*100;
                if ((H>0) && (H<=10) ){
                //resetting box
                    ResetBox();
                    document.getElementById("cb_h").style.borderColor="black"
                    document.getElementById("cb_h").style.backgroundColor="white";;
                }
                else{
                    Height = (Math.log(10+.5))*100;
                    document.getElementById("cb_h").style.borderColor="red";
                    document.getElementById('cb_h').innerHTML="this is an invalid name"
                    document.getElementById("cb_h").style.backgroundColor="lightpink";
    ;
                }
            }
        });

        $("#cb_l").keyup(function(){
            // Getting the current value of input
            if( $(this).val() == "" )
            {   Length = (Math.log(1+.5))*100;
                document.getElementById("cb_l").style.borderColor="red";
                document.getElementById("cb_l").style.backgroundColor="lightpink";}
            else{
                L=parseInt($(this).val())
                Length = (Math.log(L+.5))*100;
                if ((L>0) && (L<=30)){
                //resetting box
                    ResetBox();
                    document.getElementById("cb_l").style.borderColor="black";
                    document.getElementById("cb_l").style.backgroundColor="white";

                }
                else{
                    Length = (Math.log(30+.5))*100;
                    document.getElementById("cb_l").style.borderColor="red";
                    document.getElementById("cb_l").style.backgroundColor="lightpink";
                    document.getElementById('cb_l').innerHTML="this is an invalid name";
                }
            }
        });
        var roofval = document.getElementById("rroof").value;
        var floorval = document.getElementById("rfloor").value;
        function Wnchange() {
            val = document.getElementById("wnorth").value;
            Windows()
        }
        function Wschange() {
            val2 = document.getElementById("wsouth").value;
            Windows()
        }
        function Wwchange() {
            val3 = document.getElementById("wwest").value;
            Windows()
        }
        function Wechange() {
            val4 = document.getElementById("weast").value;
            Windows()
        }
        function Roofchange() {
            roofval = document.getElementById("rroof").value;
            Windows()
        }
        function Floorchange() {
            floorval = document.getElementById("rfloor").value;
            Windows()
        }
        $("#wnorth").on("change", Wnchange);
        $("#wsouth").on("change", Wschange);
        $("#wwest").on("change", Wwchange);
        $("#weast").on("change", Wechange);
        $("#rroof").on("change", Roofchange);
        $("#rfloor").on("change", Floorchange);

        //Window ratios
        function Windows() {
            minEW=Math.min(Height,Width)
            minNS=Math.min(Height,Length)
            if(val == 0){
                document.documentElement.style
                .setProperty('--wn', (0).toString()+"px");
                document.documentElement.style
                        .setProperty('--ncolor', ("hsl(0,0%,50%,0.7)"));
            }else if(val == 0.001){
                document.documentElement.style
                .setProperty('--wn', (0).toString()+"px");
                document.documentElement.style
                        .setProperty('--ncolor', ("#fff"));
            }else{
                if (minNS<90){
                    document.documentElement.style
                .setProperty('--wn', ((1-val)*(minNS/3)).toString()+"px");
                document.documentElement.style
                            .setProperty('--ncolor', ("hsla( 0, 0%, 0%, 0.0)"));
                }else{

                document.documentElement.style
                .setProperty('--wn', ((1-val)*(minNS/2)).toString()+"px");
                document.documentElement.style
                            .setProperty('--ncolor', ("hsla( 0, 0%, 0%, 0.0)"));
            }}

            if(val2 == 0){
            document.documentElement.style
                .setProperty('--ws', (0).toString()+"px");
                document.documentElement.style
                        .setProperty('--scolor', ("hsl(0,0%,50%,0.7)"));
            }else if(val2 == 0.001){
                document.documentElement.style
                .setProperty('--ws', (0).toString()+"px");
                document.documentElement.style
                        .setProperty('--scolor', ("#fff"));
            }else{
            if (minNS<90){
                    document.documentElement.style
                .setProperty('--ws', ((1-val2)*(minNS/3)).toString()+"px");
                document.documentElement.style
                            .setProperty('--scolor', ("hsla( 0, 0%, 0%, 0.0)"));
                }else{
                document.documentElement.style
                .setProperty('--ws', ((1-val2)*(minNS/2)).toString()+"px");
                document.documentElement.style
                            .setProperty('--scolor', ("hsla( 0, 0%, 0%, 0.0)"));
            }}

            if(val3 == 0){
            document.documentElement.style
                .setProperty('--ww', (0).toString()+"px");
            document.documentElement.style
                        .setProperty('--wcolor', ("hsl(0,0%,50%,0.7)"));
            }else if(val3 == 0.001){
                document.documentElement.style
                .setProperty('--ww', (0).toString()+"px");
                document.documentElement.style
                        .setProperty('--wcolor', ("#fff"));
            }else{
            if (minEW<90){
                    document.documentElement.style
                .setProperty('--ww', ((1-val3)*(minEW/3)).toString()+"px");
                document.documentElement.style
                            .setProperty('--wcolor', ("hsla( 0, 0%, 0%, 0.0)"));
                }else{
                document.documentElement.style
                .setProperty('--ww', ((1-val3)*(minEW/2)).toString()+"px");
                document.documentElement.style
                            .setProperty('--wcolor', ("hsla( 0, 0%, 0%, 0.0)"));
           } }

            if(val4 == 0){
            document.documentElement.style
                .setProperty('--we', (0).toString()+"px");
            document.documentElement.style
                        .setProperty('--ecolor', ("hsl(0,0%,50%,0.7)"));
            }else if(val4 == 0.001){
                document.documentElement.style
                .setProperty('--we', (0).toString()+"px");
                document.documentElement.style
                        .setProperty('--ecolor', ("#fff"));
            }else{
            if (minEW<90){
                    document.documentElement.style
                .setProperty('--we', ((1-val4)*(minEW/3)).toString()+"px");
                document.documentElement.style
                            .setProperty('--ecolor', ("hsla( 0, 0%, 0%, 0.0)"));
                }else{
                document.documentElement.style
                .setProperty('--we', ((1-val4)*(minEW/2)).toString()+"px");
                document.documentElement.style
                            .setProperty('--ecolor', ("hsla( 0, 0%, 0%, 0.0)"));
            }}

            if(roofval ==0){
             document.documentElement.style
                .setProperty('--rcolor', ('#CCC'));
            }else{
            document.documentElement.style
                .setProperty('--rcolor', ('#fff'));
            }

            if(floorval ==0){
             document.documentElement.style
                .setProperty('--fcolor', ('#CCC'));
            }else{
            document.documentElement.style
                .setProperty('--fcolor', ('#fff'));
            }
        }
        Windows()

        var scene= Math.max(Height, Width, Length)*1.05

         ResetBox()

        // ref:https://stackoverflow.com/questions/21229979/remember-check-box-value-when-re-visited-the-same-page
        // This uses the jQuery cookie library.

        $(":checkbox").on("change", function(){
            var checkboxValues = {};
            $(":checkbox").each(function(){
              checkboxValues[this.id] = this.checked;
            });
            // $.cookie('checkboxValues', checkboxValues, { expires: 7, path: '/' })
            $.cookie('checkboxValues', checkboxValues)
        });

        function repopulateCheckboxes(){
            var checkboxValues = $.cookie('checkboxValues');
            if(checkboxValues){
              Object.keys(checkboxValues).forEach(function(element) {
                var checked = checkboxValues[element];
                $("#" + element).prop('checked', checked);
                });
                }
            }

        $.cookie.json = true;
        repopulateCheckboxes();
        
        $("#menu a").on('click', function(e) {
            e.preventDefault()
            var page = $(this).data('page');
            $("#pages .page:not('.hide')").stop().fadeOut('fast', function() {
                $(this).addClass('hide');
                $('#pages .page[data-page="'+page+'"]').fadeIn('slow').removeClass('hide');
         
            });
        });
    });

</script>
<script src= '/static/js/IndoorTemp_frequency.js'></script>
<script src= '/static/js/IndoorTemp.js'></script>
<script src= '/static/js/Energy.js'></script>
<script src= '/static/js/FileSaver.js'></script>
<script src= '/static/js/Climabox.js'></script>
<script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.0/jquery.cookie.min.js"></script>
<script>


    function Graphs(){
        var max =0;
        for (i=2; i<6; i++) {
                var svgid = "#svgenergy" + i;
                var svg = d3.select(svgid);
                svg.selectAll("*").remove();
                document.getElementById("but"+i).style.visibility= "hidden";

                try{
                    var savedGraph = JSON.parse(getCookieValue(cityN+i));

                    if (savedGraph["total"] > max){
                        max = savedGraph["total"];
                        console.log("max: "+max);
                    }
                }
                catch(err) {
                    console.log("no saved graphs" +first)
                }

            }

        var CITY = "{{session["city"]}}"
        cityL = CITY.split(' (')
        cityN = cityL[0].split(" ").join("")
        var first = 0;
        for (i=2; i<6; i++) {
            try{
                var savedGraph = JSON.parse(getCookieValue(cityN+i));
                var svgid = "#svgenergy" + i;
                var textid = "S" + i;
<!--                console.log(savedGraph)-->
                var element = document.getElementById(textid);
                first++;
                element.innerHTML = savedGraph["name"];
                delete savedGraph["name"]
                newBase([savedGraph], svgid, first, max)

                document.getElementById("but"+i).style.visibility= "visible"
<!--                console.log("graph updated", first)-->
            }
            catch(err) {
                console.log("no saved graphs" +first)
            }
        }
    }
    Graphs()
</script>
{% endblock %}